AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=us-east-1

# S3 Buckets
RAW_BUCKET=youtube-etl-raw
PROCESSED_BUCKET=youtube-etl-processed
SCRIPTS_BUCKET=youtube-etl-scripts

# Glue
GLUE_DATABASE=youtube_analytics
GLUE_ROLE_ARN=arn:aws:iam::123456789012:role/GlueETLRole

# Kaggle
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key
